# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Exclude override files as they are intended to be local and not shared
override.tf
override.tf.json

# Include Terraform plan output files
*.tfplan

# Include override files
*_override.tf
*_override.tf.json
